CocoaBindingQuadraticView/CocoaBindingQuadraticView.xcodeproj/project.xcworkspace/contents.xcworkspacedata
CocoaBindingQuadraticView/CocoaBindingQuadraticView.xcodeproj/project.xcworkspace/xcuserdata/pandaxcl.xcuserdatad/UserInterfaceState.xcuserstate
CocoaBindingQuadraticView/CocoaBindingQuadraticView.xcodeproj/xcuserdata/pandaxcl.xcuserdatad/xcschemes/CocoaBindingQuadraticView.xcscheme
CocoaBindingQuadraticView/CocoaBindingQuadraticView.xcodeproj/xcuserdata/pandaxcl.xcuserdatad/xcschemes/xcschememanagement.plist
