CocoaBindingQuadraticView/CocoaBindingQuadraticView.xcodeproj/project.xcworkspace/contents.xcworkspacedata
CocoaBindingQuadraticView/CocoaBindingQuadraticView.xcodeproj/project.xcworkspace/xcuserdata/pandaxcl.xcuserdatad/UserInterfaceState.xcuserstate
CocoaBindingQuadraticView/CocoaBindingQuadraticView.xcodeproj/xcuserdata/pandaxcl.xcuserdatad/xcschemes/CocoaBindingQuadraticView.xcscheme
CocoaBindingQuadraticView/CocoaBindingQuadraticView.xcodeproj/xcuserdata/pandaxcl.xcuserdatad/xcschemes/xcschememanagement.plist
CocoaBindingQuadraticView/CocoaBindingQuadraticView.xcodeproj/project.xcworkspace/xcshareddata/CocoaBindingQuadraticView.xccheckout
CocoaBindingQuadraticView/CocoaBindingQuadraticView.xcodeproj/xcuserdata/pandaxcl.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
